input {
   font-weight: 900;
}

textarea {
    font-weight: 900;
}

.main-color-solicitud {
    display: flex;
    flex-direction: column;
    color: gold;
    align-items: center;
    justify-content: space-between;

}

.main-color-solicitud p,
.main-color-solicitud a {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 2px 2px blue;
    
}

.main-color-solicitud a:active,
.main-color-solicitud a:visited,
.main-color-solicitud a:link,
.main-color-solicitud a:focus {
    text-decoration: none;
    color: deeppink;
    margin-top: 1rem;
}

.main-color-solicitud > .list {
    display: flex;
    flex-direction: row;
    width: 30rem;
    /* margin-right: 5rem; */
    justify-content: space-between;
    align-items: end;
}

/* p {
    margin-left: 5rem;
} */

form input:not([type=submit]):not([id=query]), form textarea{
    display: flex;
    border: 0;
    color:white;
    margin: 10px 0;
    padding: 10px;
    outline: 0;
    /* background: white; */
    background-color: rgba(170, 166, 166, 0.3);
    font-size: 16px;
    border: 3px solid gold ;
    border-radius: 5px;
}

/* form div input {
    
    display: inline-flex;
    border: 3px solid gold; border: 0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    color: white;
    background-color: rgba(170, 166, 166, 0.3);
    box-shadow: 0 3px 10px 0 rgba(#000, 0.1);
    font-size: 16px;
    resize: none;
}
 */
form input:hover, textarea:hover{
    color: gold;
    background-color: rgba(86, 84, 84, 0.666);
}
